.addContact{
    background-color:lightblue;
    width:25%;
    margin:50px auto;
    padding:40px;
    border-radius:5px;
    box-shadow:1px 1px 8px rgba(0,0,0,0.65);

}

.addContactForm .inputGroup{


    width:100%;
    display:flex;
    flex-direction:column;
}


.addContactForm .inputGroup button{

    margin-top:8px;
}


.addContactForm .inputGroup label{
    margin-top:5px;
}

.addContactForm .inputGroup input{

    margin-bottom:5px;
    padding:5px;
}
.addContact h3{

    margin-top:30px;
    text-align: center;
    font-weight: bold;
    color: purple;
    text-transform: uppercase;
     text-shadow:1px 1px 2px rgba(0,0,0,0.7);

}

/* ToastStyles.css */

.Toastify__toast-container {
    top: 20px; /* Adjust the distance from the top */
    right: 20px; /* Adjust the distance from the right */
  }
  
  .Toastify__toast {
    margin: 5px 0; /* Add margin between toasts */
    border-radius: 5px; /* Rounded corners */
  }
  

